.bootstrap-table thead {
	display: none !important;
}

.bootstrap-table tbody,
.bootstrap-table tbody tr td,
.bootstrap-table tbody tr {
	display: block;
	cursor: pointer;
}

.bootstrap-table tbody tr {
	width: 92%;
	margin-left: 4%;
	display: block;
	border-bottom: 1px solid lavender;
	padding: 24px 0;
}

.bootstrap-table tbody tr td {
	display: flex;
	justify-content: center;
}

#visitor{
	background-color: white;	
	margin-bottom: 20px;
}
.pageDiv>p {
	width: 50%;
	margin: 10px auto;
}

.pageDiv>p button {
	width: 30%;
	height: 50px;
	background-color: #05509a;
	color: #fff;
	line-height: 50px;
	border: none;
	outline: none;

}
.msgBox{
	width: 92%;
	display: flex;
}
.msgImg{
	width: 65px;
	height: 65px;
	margin-right: 26px;
}
.msgImg img{
	width: 65px;
	height: 65px;
	border-radius: 50%;
}
.left-left{
	margin-bottom: 60px;
}
.msgContent{
	width: 750px;
}
.msgContent div:first-child{
	color: #242424;
	font-size: 16px;
}
.msgContent div:last-child{
	color: #949494;
	font-size: 14px;
	display: flex;
	margin-top: 24px;
	
}
.msgContent div:last-child p:first-child{
	margin-right: 40px;
}
.msgContent div:last-child p{
	line-height: 20px;
}